# These are the packages that are required to run all the code in this
# repository, including the notebooks.
pandas
numpy
matplotlib
seaborn
torch==2.0.0
transformers==4.30.1
tensorboard
scikit-learn
tqdm
textattack
tenacity
gpustat
